<main class="demo-container">
  <div class='demo-rows'>
    <section class='demo-row'>
      <p><b>Frequency cap</b></p>
      <ul>
        <li>
          <a href='{{{publisherAUrl}}}/frequency-cap' target='_blank'>Publisher A</a>
        </li>
        <li>
          <a href='{{{publisherBUrl}}}/frequency-cap' target='_blank'>Publisher B</a>
        </li>
      </ul>
    </section>
    <section class='demo-row'>
      <p><b>A/B testing</b></p>
      <ul>
        <li>
          <a href='{{{publisherAUrl}}}/ab-testing' target='_blank'>Publisher A</a>
        </li>
        <li>
          <a href='{{{publisherBUrl}}}/ab-testing' target='_blank'>Publisher B</a>
        </li>
      </ul>
    </section>
    <section class='demo-row'>
      <p><b>Creative rotation</b></p>
      <ul>
        <li>
          <a href='{{{publisherAUrl}}}/creative-rotation' target='_blank'>Publisher A</a>
        </li>
        <li>
          <a href='{{{publisherBUrl}}}/creative-rotation' target='_blank'>Publisher B</a>
        </li>
      </ul>
    </section>
    <section class='demo-row'>
      <p><b>Known customer</b></p>
      <ul>
        <li>
          <a href='{{{publisherAUrl}}}/known-customer' target='_blank'>Publisher A</a>
        </li>
        <li>
          <a href='{{{publisherBUrl}}}/known-customer' target='_blank'>Publisher B</a>
        </li>
        <li>
          <a href='{{{adtechUrl}}}/payment-provider.html' target='_blank'>Payment provider</a>
        </li>
      </ul>
    </section>
  </div>
</main>
